.lw {
    font-size: 60px;
}

input[type=text] {
    padding: 20px 50px;
    margin: 10px 0;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

